/*Base*/

:root {
  --priomary-text-color: #212121;
  --secondary-text-color: #757575;

  --accent-color: #2196f3;
  --white: #ffffff;
  --background-color1: #2f303a;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--priomary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 1200px;

  outline: 2px solid tomato;
}

.body {
  color: var(--priomary-text-color);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

.list {
  margin: 0;
}

.text {
  margin: 0;
}
/* button */
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.button {
  cursor: pointer;
  border-radius: 4px;

  color: var(--priomary-text-color);
  background-color: #f5f4fa;
}

/* Хедер з навігацією */

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

/* nav */
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-nav-list .header-list-link:hover,
.header-nav-list .header-list-link:focus {
  color: var(--accent-color);
}

.header-auth-nav {
  margin: 0;
}

.header-auth-nav .header-tel-link:hover,
.header-auth-nav .header-tel-link:focus {
  color: var(--accent-color);
}

.header-auth-nav .header-mail-link:hover,
.header-auth-nav .header-mail-link:focus {
  color: var(--accent-color);
}

.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.link-studio {
  color: var(--accent-color);
}

/* Герой */
.hero {
  left: -7px;
  top: 86px;
  background-color: var(--background-color1);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.hero-title {
  margin: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
}
.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* Особливості */

.features-title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/*Чим ми займаємося */

.section-title {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* footer */
.footer {
  background-color: var(--background-color1);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio-w {
  color: var(--white);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white);
}
.link-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-contact:focus,
.link-contact:hover {
  color: var(--accent-color);
}
address {
  font-style: normal;
}

/* Портфоліо */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}

/* Проекти */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--priomary-text-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.link-portfolio {
  color: var(--accent-color);
}
